<p>list works!</p>
<div id="list-demo">
    <div class="widget-container">
      <dx-list
        #list
        [dataSource]="tasks"
        [height]="400"
        [selectionMode]="selectionModeValue"
        [selectAllMode]="selectAllModeValue"
        [showSelectionControls]="true"
        [selectedItemKeys]="[]"
        [selectByClick]="selectByClick"
      ></dx-list>
      <div class="selected-data">
        <span class="caption">Selected text: </span>
        <span>{{ list.selectedItemKeys.join(", ") }}</span>
      </div>
    </div>
    