<div [ngClass]="'a1'">
    <div [ngClass]="'hello'">
        <h2>HELLOW WELCOMEBACK AGAIN</h2>
    </div>
    <div [ngClass]="'a2'">
        <ul>
            <li routerLinkActive="active"><a href="/home" >HOME</a></li>
        </ul>
        <ul>
            <li routerLinkActive="active"><a href="/contact">CONTACT</a></li>
        </ul>
        <ul>
            <li routerLinkActive="active"><a href="/about">ABOUT</a></li>
        </ul>
        <ul>
            <li routerLinkActive="active"><a href="/login">LOGIN</a></li>
        </ul>
        <ul>
            <li routerLinkActive="active"><a href="/tab" >TAB</a></li>
        </ul>

       
        

    </div>
</div>